In [10]:
import pandas as pd
import os

In [25]:
df2 = pd.read_csv("C:\\Data Science\\Data Science\\Statistics\\Weather Data (RT).csv")

In [26]:
df2

        Month  Rainfall  Humidity  Temperature
0     January     51.58     91.25        10.09
1    February     34.45     89.92        11.25
2       March     40.28     91.24        11.01
3       April     41.93     90.14        12.29
4         May     44.47     91.11        16.30
5        June     44.68     92.77        17.99
6        July     42.80     93.25        21.76
7      August     55.26     94.24        24.60
8   September     51.85     95.10        18.88
9     October     66.97     94.36        13.05
10   November     57.85     93.20        13.23
11   December     51.39     91.89        11.29

In [12]:
df = pd.read_csv("C:\\Data Science\\Data Science\\Statistics\\Weather Data (RH).csv")

In [13]:
df

        Month  Rainfall  Humidity
0     January     51.58     91.25
1    February     34.45     89.92
2       March     40.28     91.24
3       April     41.93     90.14
4         May     44.47     91.11
5        June     44.68     92.77
6        July     42.80     93.25
7      August     55.26     94.24
8   September     51.85     95.10
9     October     66.97     94.36
10   November     57.85     93.20
11   December     51.39     91.89

In [23]:
df1 = pd.read_csv("C:\\Data Science\\Data Science\\Statistics\\Weather Data (TH).csv")

In [24]:
df1

        Month  Temperature  Humidity
0     January        10.09     91.25
1    February        11.25     89.92
2       March        11.01     91.24
3       April        12.29     90.14
4         May        16.30     91.11
5        June        17.99     92.77
6        July        21.76     93.25
7      August        24.60     94.24
8   September        18.88     95.10
9     October        13.05     94.36
10   November        13.23     93.20
11   December        11.29     91.89

In [18]:
from scipy.stats import pearsonr,spearmanr

In [27]:
pearson_corr_coeff = pearsonr(df2[['Rainfall']],df2[['Humidity']])

In [28]:
pearson_corr_coeff

(array([0.70906616]), array([0.00982152]))

In [31]:
spearman_corr_coeff = spearmanr(df2[['Rainfall']],df2[['Humidity']])

In [32]:
spearman_corr_coeff

SpearmanrResult(correlation=0.7762237762237763, pvalue=0.0029928636801859797)

In [33]:
pearson_corr_coeff = pearsonr(df2[['Rainfall']],df2[['Temperature']])

In [34]:
pearson_corr_coeff

(array([0.1022268]), array([0.75189879]))

In [36]:
df4 = pd.read_csv("C:\\Data Science\\Data Science\\Statistics\\Drugstore Sales.csv")

In [37]:
df4

    Area  Personnel  Sales
0     50          1    794
1     65          1    657
2     80          2   1178
3    100          1    927
4    120          2   1502
5    140          2   1278
6    180          3   2337
7    200          2   2607
8    220          2   2198
9    225          3   2247
10   240          3   2278
11   250          4   3405
12   300          3   3098
13   325          4   3287
14   350          5   4307
15   380          5   4552
16   400          4   4186
17   420          3   4306
18   440          5   4513
19   450          5   5406

In [38]:
spearman_corr_coeff = spearmanr(df4[['Personnel']],df4[['Sales']])

In [39]:
spearman_corr_coeff

SpearmanrResult(correlation=0.936435592376387, pvalue=1.2757013315541264e-09)

In [40]:
pearson_corr_coeff = pearsonr(df4[['Personnel']],df4[['Sales']])

In [41]:
pearson_corr_coeff

(array([0.92179343]), array([7.8059038e-09]))

In [42]:
df5 = pd.read_csv("C:\\Data Science\\Data Science\\Statistics\\Code Bugs.csv")

In [43]:
df5

    WorkEx       Bugs
0     1.00  46.787944
1     1.25  38.650480
2     1.50  32.313016
3     1.75  27.377394
4     2.00  23.533528
5     2.25  20.539922
6     2.50  18.208500
7     2.75  16.392786
8     3.00  14.978707
9     3.50  13.019738
10    4.00  11.831564
11    4.50  11.110900
12    5.00  10.673795
13    6.00  10.247875
14    7.00  10.091188
15    8.00  10.033546
16    9.00  10.012341
17   10.00  10.004540
18   11.00  10.001670
19   12.00  10.000614

In [44]:
pearson_corr_coeff = pearsonr(df5[['WorkEx']],df5[['Bugs']])

In [45]:
pearson_corr_coeff

(array([-0.69762179]), array([0.00062736]))

In [46]:
spearman_corr_coeff = spearmanr(df5[['WorkEx']],df5[['Bugs']])

In [47]:
spearman_corr_coeff

SpearmanrResult(correlation=-1.0, pvalue=0.0)

In [48]:
df6 = pd.read_csv("C:\\Data Science\\Data Science\\Statistics\\Apartment Prices.csv")

In [49]:
df6

    Area  Floor  Price
0    850      1     50
1    950      6     72
2   1250      2     82
3   1300      4     84
4   1950      7    115
5   1750     11    175
6   2000      9    110
7   2050      5    105
8   2250      3    115
9   2500     10    150
10  2350      8    160
11  3250     12    235

In [53]:
spearman_corr_coeff = spearmanr(df6[['Floor']],df6[['Price']])

In [51]:
spearman_corr_coeff

SpearmanrResult(correlation=0.8196159679558652, pvalue=0.0011015500296681902)

In [54]:
pearson_corr_coeff = pearsonr(df6[['Floor']],df6[['Price']])

In [55]:
pearson_corr_coeff

(array([0.847501]), array([0.0004999]))

In [56]:
pearson_corr_coeff = pearsonr(df6[['Area']],df6[['Price']])

In [57]:
pearson_corr_coeff

(array([0.87194683]), array([0.00021787]))

In [58]:
spearman_corr_coeff = spearmanr(df6[['Area']],df6[['Price']])

In [59]:
spearman_corr_coeff

SpearmanrResult(correlation=0.80910807093079, pvalue=0.00143474036993647)

In [60]:
import statsmodels as sm

In [61]:
import statsmodels.formula.api as smf

In [62]:
model = smf.ols('Price~Area+Floor',df6)

In [63]:
model

In [64]:
results = model.fit()

In [67]:
print(results.summary())

C:\New folder\lib\site-packages\scipy\stats\stats.py:1416: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=12
  "anyway, n=%i" % int(n))

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.877
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     31.95
Date:                Sat, 27 Jul 2019   Prob (F-statistic):           8.17e-05
Time:                        16:57:07   Log-Likelihood:                -51.229
No. Observations:                  12   AIC:                             108.5
Df Residuals:                       9   BIC:                             109.9
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.8700     17.161      0.109      0.916     -36.951      40.691
Area           0.0404      0.012      3.397      0.008       0.014       0.067
Floor          6.6995      2.302      2.911      0.017       1.493      11.906
==============================================================================
Omnibus:                        0.181   Durbin-Watson:                   2.480
Prob(Omnibus):                  0.914   Jarque-Bera (JB):                0.366
Skew:                          -0.168   Prob(JB):                        0.833
Kurtosis:                       2.214   Cond. No.                     5.91e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.91e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [69]:
model = smf.ols('Sales~Area+Personnel',df4)

In [70]:
model

In [71]:
results = model.fit()

In [72]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.965
Model:                            OLS   Adj. R-squared:                  0.960
Method:                 Least Squares   F-statistic:                     231.5
Date:                Sat, 27 Jul 2019   Prob (F-statistic):           4.65e-13
Time:                        17:10:08   Log-Likelihood:                -140.02
No. Observations:                  20   AIC:                             286.0
Df Residuals:                      17   BIC:                             289.0
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -113.8386    157.916     -0.721      0.481    -447.012     219.335
Area           7.9865      1.075      7.426      0.000       5.718      10.255
Personnel    298.7719    102.332      2.920      0.010      82.870     514.674
==============================================================================
Omnibus:                        0.291   Durbin-Watson:                   2.270
Prob(Omnibus):                  0.865   Jarque-Bera (JB):                0.461
Skew:                           0.055   Prob(JB):                        0.794
Kurtosis:                       2.264   Cond. No.                         723.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.